<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
    <f:layout name="Page"/>

    <f:section name="Configuration">

        <flux:form id="folder" label="Ordner">


            <!-- Grid displayed in the page module -->
            <flux:grid>
                <flux:grid.row>
                    <flux:grid.column colPos="0" label="Inhalt" name="Inhalt"/>
                </flux:grid.row>
            </flux:grid>
        </flux:form>
    </f:section>

    <f:section name="Resources">
        <f:render partial="Assets" section="Assets"/>
    </f:section>

    <f:section name="HeaderContent">
        <f:render partial="Hero" section="Hero"/>
    </f:section>


    <f:section name="Content">


    </f:section>

</div>
