<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns:ws="http://typo3.org/ns/WapplerSystems/WsT3bootstrap/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Content"/>


<f:section name="Configuration">

    <flux:form id="row" options="{group: 'Bootstrap',icon:'content-columns'}">

        <flux:field.select name="alignment" items=",align-items-start,align-items-center,align-items-end,align-items-baseline,align-items-stretch"/>
        <flux:field.select name="adjustment" items=",justify-content-start,justify-content-center,justify-content-end,justify-content-around,justify-content-between"/>
        <flux:field.select name="display" items="flex,block" default="block"/>

        <flux:form.section name="columns">
            <flux:form.object name="column">
                <flux:field.select name="class-xs" emptyOption="" items="{col-1:'1',col-2:'2',col-3:'3',col-4:'4',col-5:'5',col-6:'6',col-7:'7',col-8:'8',col-9:'9',col-10:'10',col-11:'11',col-12:'12',col-0:'hidden'}"/>
                <flux:field.select name="class-sm" emptyOption="" items="{col-sm-1:'1',col-sm-2:'2',col-sm-3:'3',col-sm-4:'4',col-sm-5:'5',col-sm-6:'6',col-sm-7:'7',col-sm-8:'8',col-sm-9:'9',col-sm-10:'10',col-sm-11:'11',col-sm-12:'12',col-sm-0:'hidden'}"/>
                <flux:field.select name="class-md" emptyOption="" items="{col-md-1:'1',col-md-2:'2',col-md-3:'3',col-md-4:'4',col-md-5:'5',col-md-6:'6',col-md-7:'7',col-md-8:'8',col-md-9:'9',col-md-10:'10',col-md-11:'11',col-md-12:'12',col-md-0:'hidden'}"/>
                <flux:field.select name="class-lg" emptyOption="" items="{col-lg-1:'1',col-lg-2:'2',col-lg-3:'3',col-lg-4:'4',col-lg-5:'5',col-lg-6:'6',col-lg-7:'7',col-lg-8:'8',col-lg-9:'9',col-lg-10:'10',col-lg-11:'11',col-lg-12:'12',col-lg-0:'hidden'}"/>
                <flux:field.select name="class-xl" emptyOption="" items="{col-xl-1:'1',col-xl-2:'2',col-xl-3:'3',col-xl-4:'4',col-xl-5:'5',col-xl-6:'6',col-xl-7:'7',col-xl-8:'8',col-xl-9:'9',col-xl-10:'10',col-xl-11:'11',col-xl-12:'12',col-xl-0:'hidden'}"/>
                <flux:field.select name="class-xxl" emptyOption="" items="{col-xxl-1:'1',col-xxl-2:'2',col-xxl-3:'3',col-xxl-4:'4',col-xxl-5:'5',col-xxl-6:'6',col-xxl-7:'7',col-xxl-8:'8',col-xxl-9:'9',col-xxl-10:'10',col-xxl-11:'11',col-xxl-12:'12',col-xxl-0:'hidden'}"/>
                <flux:field.input name="additionalClass"/>
                <flux:field.select name="alignment" items=",align-self-start,align-self-center,align-self-end"/>

            </flux:form.object>
        </flux:form.section>
        <flux:grid>
            <flux:grid.row>
                <v:condition.type.isArray value="{columns}">
                    <f:for each="{columns}" as="sectionObject" iteration="iteration">
                        <v:variable.set name="width" value="{sectionObject.column.class-lg -> v:format.substring(start: 7)}"/>
                        <f:if condition="{width}">
                            <f:else>
                                <v:variable.set name="width" value="{sectionObject.column.class-md -> v:format.substring(start: 7)}"/>
                            </f:else>
                        </f:if>
                        <f:if condition="{width}">
                            <f:then>
                                <v:variable.set name="percent" value="{width -> v:math.division(b: '{f:if(condition:settings.gridColumns,then:settings.gridColumns,else:12)}') -> v:math.product(b: 100) -> v:math.round(decimals: 2)}"/>
                                <flux:grid.column colspan="{width}" colPos="{iteration.index}" name="column{iteration.cycle}" label="{percent}%"/>
                            </f:then>
                            <f:else>
                                <flux:grid.column colPos="{iteration.index}" style="" name="column{iteration.cycle}" label="--keine Größe--"/>
                            </f:else>
                        </f:if>

                    </f:for>
                </v:condition.type.isArray>
            </flux:grid.row>
        </flux:grid>
    </flux:form>
</f:section>

<f:section name="Main">

    <f:render partial="Rendering/FluidRow" section="Main" arguments="{_all}"/>

</f:section>


</html>
